@font-face {
	font-family: lobster;
	src: url(Font/LobsterTwo-Regular.otf);
}

body {
background: #282727; 
color: #fff;
}

header.top-bar {
background: #191919;
font-family: lobster, Arial;
height: 6em;
width: 100%;
border: 1px;
margin: 0px;
position: absolute;
left: 0;
top: 0;
}

#typeName {
font-size: 4em;
font-family: lobster, Arial;
position: absolute;
top: 0.1em;
left: 1em;
}

img.left {
width: 3em;
height: 5em;
position: absolute;
top: 0.5em;
left: 1em;
}

img.right {
width: 3em;
height: 5em;
position: relative;
top: 0.5em;
left: 17em;
{